.input_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}
.input{
    padding: 8px;
    width: 20%;
    margin-right: 15px;
}
.btn{
    padding: 10px;
    width: 7%;
    color: black;
    background-color: green;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}